.reveal {
  transform: translateY(20px);
  opacity: 0;
  transition: transform 700ms cubic-bezier(0.2, 0.9, 0.2, 1), opacity 700ms ease;
}
.reveal.show {
  transform: translateY(0);
  opacity: 1;
}

@keyframes floaty {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-6px);
  }
  100% {
    transform: translateY(0);
  }
}
.floaty {
  animation: floaty 4s ease-in-out infinite;
}

::-webkit-scrollbar {
  width: 10px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #d32f2f, #fbc02d);
  border-radius: 10px;
}

textarea::-webkit-scrollbar {
    width: 8px;
}
textarea::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 4px;
}
textarea::-webkit-scrollbar-thumb {
    background: #cbd5e1; 
    border-radius: 4px;
}
textarea::-webkit-scrollbar-thumb:hover {
    background: #94a3b8; 
}